In [ ]:
  Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

Ans. (i)   b = "Aryan"
     (ii)  c = [25, 23, 5, "aryan", "subham", 52.3 ,True]
     (iii) d = 23.56
     (iv)  e = (25, 23, 5, "aryan", "subham", 52.3 ,True)

In [8]:
"""Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.
    What will be the data type of the above given variable.

Ans.""" 
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python']
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [13]:
'''Q3. Explain the use of the following operators using an example:'''

#Division operator under arithemetic operator which is use to simpali divide numbers
a = 10/5 
print(a)
#(ii)	%  = modulas operator which gives remender after dividing any numbers
b = 5%3
print(b)
##(iii)	// = flor which giver only intiger of the quotient after dividing
c = 5//3
print(c)
#(iv)	** = index which helps to calculate the value of any number of any power
d = 5 **2
print(d)

2.0
2
1
25

In [15]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''
x = [5,23.5,"aryan","sudh_sir",True, [52,5,6,23],("aryan",52,36,),{1,2,3.4,5,}, {"alphs":"high", "omega":"low"}, "pwskkills"]
for i in x:
    print(i)
    print(type(i))
print("No. of elements in list =",len(x))

5
<class 'int'>
23.5
<class 'float'>
aryan
<class 'str'>
sudh_sir
<class 'str'>
True
<class 'bool'>
[52, 5, 6, 23]
<class 'list'>
('aryan', 52, 36)
<class 'tuple'>
{1, 2, 3.4, 5}
<class 'set'>
{'alphs': 'high', 'omega': 'low'}
<class 'dict'>
pwskkills
<class 'str'>
No. of elements in list = 10

In [16]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''
A = int(input())
B = int(input())

if A % B ==0:
    print("Yes A is divisible by B ")
    Num1 = A/B
    l1 = [A,]
    
    while Num1 % B == 0:
        l1.append(Num1)
        Num1 = Num1/B

    print("and it is",len(l1),"times divisible by B ") 
    
else :
    print("A is not divisible by B")

 1000
 2

Yes A is divisible by B
and it is 3 times divisible by B

In [17]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''
f = [3,25,16,24,26,488,256,248,2665,232,14,25,26,248,209,2564,2458,458,2265,125,32,33,26,48,69]
for j in f:
    if j%3 == 0:
        print(j,"is divisible by 3")
    else:
        print(j,"is not divisible by 3")

3 is divisible by 3
25 is not divisible by 3
16 is not divisible by 3
24 is divisible by 3
26 is not divisible by 3
488 is not divisible by 3
256 is not divisible by 3
248 is not divisible by 3
2665 is not divisible by 3
232 is not divisible by 3
14 is not divisible by 3
25 is not divisible by 3
26 is not divisible by 3
248 is not divisible by 3
209 is not divisible by 3
2564 is not divisible by 3
2458 is not divisible by 3
458 is not divisible by 3
2265 is divisible by 3
125 is not divisible by 3
32 is not divisible by 3
33 is divisible by 3
26 is not divisible by 3
48 is divisible by 3
69 is divisible by 3

In [ ]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''
'''Ans- Mutable data type means the data which can be change in same index without assigning to any other variable
and Immutable data type means the data which can not be change in same index.'''
#Mutable Data type
l = [5,3,8,1,"aryan"]

#Immutable Data type
g = "aryan"
t = (56,58,23,22,6,45,'aryan')